@import '../../assets/colors.scss';
.chat-card.p-card {
    background-color: $gray2;
    border-radius: 0.5rem;
    height: 40rem;
    left: calc(50% - 35vw);
    position: absolute;
    top: calc(50% - 20rem);
    width: 70vw;
    .p-card-header {
        height: 3.25rem;
        background-color: $gray1;
        border-radius: 0.5rem;
        .user-data {
            padding: 1rem;
            & .pi-user {
                filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
            }
            .user-data-info {
                color: $green1;
                margin-left: 0.5rem
            }
        }
    }
    .p-card-body {
        display: grid;
        height: calc(100% - 3.25rem);
        padding: 0;
        .p-card-content {
            padding: 1rem 1rem;
            .message-content {
                overflow: auto;
                .message-content-list {
                    align-items: flex-end;
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    .message-content-list-item {
                        background-color: $green2;
                        border-radius: 0.5rem;
                        color: $gray4;
                        height: auto;
                        margin: 0.5rem;
                        max-width: 27rem;
                        padding: 0.2rem 0.5rem;
                        width: fit-content;
                        &.message-content-list-item--received {
                            align-self: flex-start;
                            background-color: $gray3;
                        }
                    }
                }
            }
        }
        .p-card-footer {
            align-self: flex-end;
            background-color: $gray1;
            border-radius: 0.5rem;
            height: fit-content;
            padding: 0;
            .message-data {
                display: flex;
                align-items: center;
                padding: 1rem 2rem;
                .message-data-input {
                    background-color: $gray2;
                    border: none;
                    border-radius: 0.5rem;
                    color: $beige1;
                    font-size: 1.1rem;
                    padding: 0.5rem 1rem;
                    width: 100%;
                    &:focus-visible {
                        outline: none;
                    }
                }
                .message-data-icon.pi-send {
                    color: $green2;
                    font-size: 1.5em;
                    margin-left: 0.5rem;
                }
            }
        }
    }
}